html{
  body{
    footer{
      background-color: $grey;
      padding: 20px;

      #ftrcontainerone{
        text-align: center;

        .circleelement{
          display: inline-block;
          background-color: white;
          height: 60px;
          width: 60px;
          border-radius: 60px;
          margin: 0 15px 0 15px;
        }
      }
      #ftrcontainertwo{
        text-align: center;
        color: white;
        font-size: 1.5rem;
        margin: 15px 0 15px 0 ;

        .footermenu{
          display: inline-block;
        }
      }
      #ftrcontainerthree{
        text-align: center;
        color: white;

        .copyright {
        }
      }




    }
  }
}