html{
  body{
    footer{
      background-color: $grey;

      #ftrcontainerone{

        .circleelement{
          background-color: black;
          height: 50px;
          width: 50px;
          border-radius: 50px;

        }




      }



    }
  }
}