html{
  body{
    header{
      background-color: $blue;
      text-align: center;
      color: white;


      .headerelement {
        display: inline-block;
        text-align: center;
        margin: 30px;
        vertical-align: top;

        #vivamus {

          width: auto;
          height: 120px;
        }
        .item {
          font-family: Garamond;
          display: inline-block;
          font-size: 2rem;
        }

      }
      .headerelement.menuitems {
        position: relative;
        top: 15px;


      }
      #searchbox {
        font-size: 1rem;
        padding-left: 10px;
        border-radius: 10px;
        border: 1px solid white;
        width: 120%;
        height: 40px;
        background-color: $blue;
        background-image: url("../../img/magnify.png");
        background-repeat: no-repeat;
        background-position: right;

      }
      .burgercontainer{
        #burgericon{
          float: right;
          cursor: pointer;
        }



        .bar{
          width: 50px;
          height: 10px;
          background-color: white;
          margin-top: 5px;
          margin-bottom: 5px;

        }

        #burgermenu{


          clear: right;
          color: white;

          background-color: $grey;
          float: right;
          position: absolute;
          right: -150px;
          top: 60px;
          z-index: 1;
          border-radius: 10px 0 10px 10px;
          @include displaymode();






          .menucontainer{
            :hover{

              color: $blue;

            }

            display: block;
            font-size: 2rem;
            padding: 10px;
            width: auto;
            cursor: default;




          }



          .menucontainer.db{
            border-radius: 0 0 10px 10px;
          }



        }
      }



    }
  }

}