html{
  body{
    font-size: 100%;
    main{

      #maincontainerone{
        text-align: center;
        color: $blue;
        padding: 30px;

        h1{
          font-size: 3.3rem;
          font-weight: 600;
          padding-bottom: 10px;
        }
        h2{
          font-size: 2.2rem;
          padding-bottom:0px;
        }
        h3{
          font-size: 2rem;
        }

      }

      #line{

        border-top: 4px solid $lightgrey;
        margin: 0 auto 40px auto;
        width: 65%;
      }

      #maincontainertwo{
        position: relative;
        text-align: center;
        font-size: 2.5rem;
        color: $blue;
        width: 60%;
        margin: 0 auto 40px auto;

        #innercontainer{
          position: relative;

          .step{
            background-color: white;
            display: inline-block;
            padding-top: 10px;
            height: 50px;
            width: 60px;
            border-radius: 60px;
            border: 10px solid $grey;
          }
          .step.one{
            float: left;
          }


          .step.three{
            float: right;
          }

        }

        #stepline{
          clear: both;
          display: block;
          height: 10px;
          width: 100%;
          background-color: $grey;
          vertical-align: middle;
          position: absolute;
          top: 35px;
          z-index: -1;
        }
      }

      section{
        #sectionone{
          @include formformat();
          #formone{
            margin-top: 10px;
            padding: 10px;
            font-size: 1rem;


            #boxone{
              float: left;

              #firstname{
                @include inputbox();
              }
            }
            #boxtwo{
              float: right;

              #lastname{
                @include inputbox();
              }
            }
            #boxthree{
              clear: both;

              #email{
                @include inputbox();
                width: 96%;
              }
              #number{
                @include inputbox();
                width: 96%;

              }
            }
            .boxname{
              text-indent: 10px;
              font-size: 1.1rem;
            }
          }
        }


        #sectiontwo{
          @include formformat();
          #formtwo{
            margin-top: 30px;
            padding: 10px 20px 10px 20px;
            font-size: 1rem;


            #tabmenu{
              text-align: center;

              #paypal{
                @include tabbtn();
                float: left;
                background-color: $blue;  /*TEMPORARY: UNTIL JAVA SCRIPT/JQUERY*/
                color: white;             /*TEMPORARY: UNTIL JAVA SCRIPT/JQUERY*/
              }
              #creditcard{
                @include tabbtn();
                float: right;
              }
            }
            #tabcontentcreditcard{
              @include tabcontent();
              clear: both;
              position: relative;

              #visalogo{
                position: absolute;
                right: 20px;
                bottom: 20px;
                background-repeat: no-repeat;
                height: 70px;
                width: auto;
              }

              .tabinputname{
                text-indent: 10px;
              }

              #amount{
                @include inputbox();
                background-color: $lightgrey;

              }
              #holdername{
                @include inputbox();
                background-color: $lightgrey;
                width: 97%;

              }
              #cardnum{
                @include inputbox();
                background-color: $lightgrey;
                width: 97%;

              }
              #cardcode{
                @include inputbox();
                background-color: $lightgrey;

              }
              #expiry{
                @include inputbox();
                background-color: $lightgrey;

              }



            }

            #tabcontentpaypal{
              @include tabcontent();
              clear: both;
              position: relative;
              background-color: black;

              #paypallogo{
                position: absolute;
                right: 20px;
                bottom: 20px;
                background-repeat: no-repeat;
                height: 70px;
                width: auto;
              }

              .tabinputname{
                text-indent: 10px;
              }

              #paypalemail{
                @include inputbox();
                background-color: $lightgrey;

              }
              #paypalpassword{
                @include inputbox();
                background-color: $lightgrey;


              }




            }

          }
        }

      }

    }
  }
}