/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*colors*/
/* line 2, ../sass/_main.scss */
html body {
  font-size: 100%;
}
/* line 6, ../sass/_main.scss */
html body main #maincontainerone {
  text-align: center;
  color: #2DA8C9;
  padding: 30px;
}
/* line 11, ../sass/_main.scss */
html body main #maincontainerone h1 {
  font-size: 3.3rem;
  font-weight: 600;
  padding-bottom: 10px;
}
/* line 16, ../sass/_main.scss */
html body main #maincontainerone h2 {
  font-size: 2.2rem;
  padding-bottom: 0px;
}
/* line 20, ../sass/_main.scss */
html body main #maincontainerone h3 {
  font-size: 2rem;
}
/* line 26, ../sass/_main.scss */
html body main #line {
  border-top: 4px solid #EBEBEB;
  margin: 0 auto 40px auto;
  width: 65%;
}
/* line 33, ../sass/_main.scss */
html body main #maincontainertwo {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  color: #2DA8C9;
  width: 60%;
  margin: 0 auto 40px auto;
}
/* line 41, ../sass/_main.scss */
html body main #maincontainertwo #innercontainer {
  position: relative;
}
/* line 44, ../sass/_main.scss */
html body main #maincontainertwo #innercontainer .step {
  background-color: white;
  display: inline-block;
  padding-top: 10px;
  height: 50px;
  width: 60px;
  border-radius: 60px;
  border: 10px solid #BEBEBE;
}
/* line 53, ../sass/_main.scss */
html body main #maincontainertwo #innercontainer .step.one {
  float: left;
}
/* line 58, ../sass/_main.scss */
html body main #maincontainertwo #innercontainer .step.three {
  float: right;
}
/* line 64, ../sass/_main.scss */
html body main #maincontainertwo #stepline {
  clear: both;
  display: block;
  height: 10px;
  width: 100%;
  background-color: #BEBEBE;
  vertical-align: middle;
  position: absolute;
  top: 35px;
  z-index: -1;
}
/* line 78, ../sass/_main.scss */
html body main section #sectionone {
  position: relative;
  margin: 0 20% 0 20%;
  text-align: left;
  background-color: #EBEBEB;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  color: #2DA8C9;
  font-size: 2rem;
}
/* line 80, ../sass/_main.scss */
html body main section #sectionone #formone {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
}
/* line 86, ../sass/_main.scss */
html body main section #sectionone #formone #boxone {
  float: left;
}
/* line 89, ../sass/_main.scss */
html body main section #sectionone #formone #boxone #firstname {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
}
/* line 93, ../sass/_main.scss */
html body main section #sectionone #formone #boxtwo {
  float: right;
}
/* line 96, ../sass/_main.scss */
html body main section #sectionone #formone #boxtwo #lastname {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
}
/* line 100, ../sass/_main.scss */
html body main section #sectionone #formone #boxthree {
  clear: both;
}
/* line 103, ../sass/_main.scss */
html body main section #sectionone #formone #boxthree #email {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  width: 96%;
}
/* line 107, ../sass/_main.scss */
html body main section #sectionone #formone #boxthree #number {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  width: 96%;
}
/* line 113, ../sass/_main.scss */
html body main section #sectionone #formone .boxname {
  text-indent: 10px;
  font-size: 1.1rem;
}
/* line 121, ../sass/_main.scss */
html body main section #sectiontwo {
  position: relative;
  margin: 0 20% 0 20%;
  text-align: left;
  background-color: #EBEBEB;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  color: #2DA8C9;
  font-size: 2rem;
}
/* line 123, ../sass/_main.scss */
html body main section #sectiontwo #formtwo {
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
}
/* line 129, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabmenu {
  text-align: center;
}
/* line 132, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabmenu #paypal {
  display: inline-block;
  height: 50px;
  width: 50%;
  border: transparent;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  color: #2DA8C9;
  background-color: white;
  float: left;
  background-color: #2DA8C9;
  /*TEMPORARY: UNTIL JAVA SCRIPT/JQUERY*/
  color: white;
  /*TEMPORARY: UNTIL JAVA SCRIPT/JQUERY*/
}
/* line 138, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabmenu #creditcard {
  display: inline-block;
  height: 50px;
  width: 50%;
  border: transparent;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  color: #2DA8C9;
  background-color: white;
  float: right;
}
/* line 143, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentcreditcard {
  display: block;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 15px 30px 15px 30px;
  font-size: 1.3rem;
  clear: both;
  position: relative;
}
/* line 148, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentcreditcard #visalogo {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-repeat: no-repeat;
  height: 70px;
  width: auto;
}
/* line 157, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentcreditcard .tabinputname {
  text-indent: 10px;
}
/* line 161, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentcreditcard #amount {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
}
/* line 166, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentcreditcard #holdername {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
  width: 97%;
}
/* line 172, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentcreditcard #cardnum {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
  width: 97%;
}
/* line 178, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentcreditcard #cardcode {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
}
/* line 183, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentcreditcard #expiry {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
}
/* line 193, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentpaypal {
  display: block;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 15px 30px 15px 30px;
  font-size: 1.3rem;
  clear: both;
  position: relative;
  background-color: black;
}
/* line 199, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentpaypal #paypallogo {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-repeat: no-repeat;
  height: 70px;
  width: auto;
}
/* line 208, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentpaypal .tabinputname {
  text-indent: 10px;
}
/* line 212, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentpaypal #paypalemail {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
}
/* line 217, ../sass/_main.scss */
html body main section #sectiontwo #formtwo #tabcontentpaypal #paypalpassword {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
}

/* line 3, ../sass/_header.scss */
html body header {
  background-color: #2DA8C9;
  text-align: center;
  color: white;
}
/* line 9, ../sass/_header.scss */
html body header .headerelement {
  display: inline-block;
  text-align: center;
  margin: 30px;
  vertical-align: top;
}
/* line 15, ../sass/_header.scss */
html body header .headerelement #vivamus {
  width: auto;
  height: 120px;
}
/* line 20, ../sass/_header.scss */
html body header .headerelement .item {
  font-family: Garamond;
  display: inline-block;
  font-size: 2rem;
}
/* line 28, ../sass/_header.scss */
html body header .headerelement.menuitems {
  position: relative;
  top: 15px;
}
/* line 32, ../sass/_header.scss */
html body header #searchbox {
  font-size: 1rem;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid white;
  width: 120%;
  height: 40px;
  background-color: #2DA8C9;
  background-image: url("../../img/magnify.png");
  background-repeat: no-repeat;
  background-position: right;
}

/* line 3, ../sass/_footer.scss */
html body footer {
  background-color: #BEBEBE;
  padding: 20px;
}
/* line 7, ../sass/_footer.scss */
html body footer #ftrcontainerone {
  text-align: center;
}
/* line 10, ../sass/_footer.scss */
html body footer #ftrcontainerone .circleelement {
  display: inline-block;
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  margin: 0 15px 0 15px;
}
/* line 19, ../sass/_footer.scss */
html body footer #ftrcontainertwo {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 15px 0 15px 0;
}
/* line 25, ../sass/_footer.scss */
html body footer #ftrcontainertwo .footermenu {
  display: inline-block;
}
/* line 29, ../sass/_footer.scss */
html body footer #ftrcontainerthree {
  text-align: center;
  color: white;
}

/* line 19, ../sass/screen.scss */
body {
  font-size: 100%;
  font-family: Arial, serif;
}
