/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*colors*/
/* line 2, ../sass/_main.scss */
html body {
  font-size: 100%;
}
/* line 4, ../sass/_main.scss */
html body :focus {
  outline: none;
}
/* line 11, ../sass/_main.scss */
html body main #maincontainerone {
  text-align: center;
  color: #2DA8C9;
  padding: 30px;
}
/* line 16, ../sass/_main.scss */
html body main #maincontainerone h1 {
  font-size: 3.3rem;
  font-weight: 600;
  padding-bottom: 10px;
}
/* line 21, ../sass/_main.scss */
html body main #maincontainerone h2 {
  font-size: 2.2rem;
  padding-bottom: 0px;
}
/* line 25, ../sass/_main.scss */
html body main #maincontainerone h3 {
  font-size: 2rem;
}
/* line 31, ../sass/_main.scss */
html body main #line {
  border-top: 4px solid #EBEBEB;
  margin: 0 auto 40px auto;
  width: 65%;
}
/* line 38, ../sass/_main.scss */
html body main #maincontainertwo {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  color: #2DA8C9;
  width: 60%;
  margin: 0 auto 40px auto;
}
/* line 46, ../sass/_main.scss */
html body main #maincontainertwo #innercontainer {
  position: relative;
}
/* line 49, ../sass/_main.scss */
html body main #maincontainertwo #innercontainer .step {
  background-color: white;
  display: inline-block;
  padding-top: 10px;
  height: 50px;
  width: 60px;
  border-radius: 60px;
  border: 10px solid #BEBEBE;
  cursor: default;
}
/* line 58, ../sass/_mixin.scss */
html body main #maincontainertwo #innercontainer .step.active {
  background: #2DA8C9;
  color: white;
}
/* line 61, ../sass/_main.scss */
html body main #maincontainertwo #innercontainer .step.one {
  float: left;
}
/* line 67, ../sass/_main.scss */
html body main #maincontainertwo #innercontainer .step.three {
  float: right;
}
/* line 73, ../sass/_main.scss */
html body main #maincontainertwo #stepline {
  clear: both;
  display: block;
  height: 10px;
  width: 100%;
  background-color: #BEBEBE;
  vertical-align: middle;
  position: absolute;
  top: 35px;
  z-index: -1;
}
/* line 88, ../sass/_main.scss */
html body main section #container1 #sectionone {
  position: relative;
  margin: 0 20% 30px 20%;
  text-align: left;
  background-color: #EBEBEB;
  border-radius: 10px;
  padding: 30px;
  color: #2DA8C9;
  font-size: 2rem;
}
/* line 90, ../sass/_main.scss */
html body main section #container1 #sectionone #formone {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
}
/* line 96, ../sass/_main.scss */
html body main section #container1 #sectionone #formone #boxone {
  float: left;
}
/* line 99, ../sass/_main.scss */
html body main section #container1 #sectionone #formone #boxone #firstname {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
}
/* line 103, ../sass/_main.scss */
html body main section #container1 #sectionone #formone #boxtwo {
  float: right;
}
/* line 106, ../sass/_main.scss */
html body main section #container1 #sectionone #formone #boxtwo #lastname {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
}
/* line 110, ../sass/_main.scss */
html body main section #container1 #sectionone #formone #boxthree {
  clear: both;
}
/* line 113, ../sass/_main.scss */
html body main section #container1 #sectionone #formone #boxthree #email {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  width: 96%;
}
/* line 117, ../sass/_main.scss */
html body main section #container1 #sectionone #formone #boxthree #number {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  width: 96%;
}
/* line 123, ../sass/_main.scss */
html body main section #container1 #sectionone #formone .boxname {
  text-indent: 10px;
  font-size: 1.1rem;
}
/* line 130, ../sass/_main.scss */
html body main section #container1 #btn2 {
  display: inline-block;
  font-size: 2rem;
  height: 70px;
  width: 250px;
  background-color: #2DA8C9;
  color: white;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  float: right;
}
/* line 136, ../sass/_main.scss */
html body main section #container2 {
  display: none;
  clear: both;
}
/* line 140, ../sass/_main.scss */
html body main section #container2 #sectiontwo {
  position: relative;
  margin: 0 20% 30px 20%;
  text-align: left;
  background-color: #EBEBEB;
  border-radius: 10px;
  padding: 30px;
  color: #2DA8C9;
  font-size: 2rem;
}
/* line 142, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo {
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
}
/* line 148, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabmenu {
  text-align: center;
}
/* line 153, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabmenu #paypal {
  display: inline-block;
  height: 50px;
  width: 50%;
  border: transparent;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  color: #2DA8C9;
  background-color: white;
  cursor: pointer;
  float: left;
}
/* line 58, ../sass/_mixin.scss */
html body main section #container2 #sectiontwo #formtwo #tabmenu #paypal.active {
  background: #2DA8C9;
  color: white;
}
/* line 158, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabmenu #creditcard {
  display: inline-block;
  height: 50px;
  width: 50%;
  border: transparent;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  color: #2DA8C9;
  background-color: white;
  cursor: pointer;
  float: right;
}
/* line 58, ../sass/_mixin.scss */
html body main section #container2 #sectiontwo #formtwo #tabmenu #creditcard.active {
  background: #2DA8C9;
  color: white;
}
/* line 165, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard {
  display: block;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 15px 30px 15px 30px;
  font-size: 1.3rem;
  clear: both;
  position: relative;
}
/* line 170, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard #visalogo {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-repeat: no-repeat;
  height: 70px;
  width: auto;
}
/* line 179, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard .tabinputname {
  text-indent: 10px;
}
/* line 183, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard #amount {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
}
/* line 188, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard #holdername {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
  width: 97%;
}
/* line 194, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard #cardnum {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
  width: 97%;
}
/* line 200, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard #cardcode {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
}
/* line 205, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard #expiry {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
}
/* line 214, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentpaypal {
  display: block;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 15px 30px 15px 30px;
  font-size: 1.3rem;
  clear: both;
  position: relative;
  display: none;
}
/* line 220, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentpaypal #paypallogo {
  position: absolute;
  right: 25px;
  bottom: 20px;
  background-repeat: no-repeat;
  height: 60px;
  width: auto;
}
/* line 229, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentpaypal .tabinputname {
  text-indent: 10px;
}
/* line 233, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentpaypal #paypalemail {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
}
/* line 238, ../sass/_main.scss */
html body main section #container2 #sectiontwo #formtwo #tabcontentpaypal #paypalpassword {
  border-radius: 10px;
  border: transparent;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 1.5rem;
  margin: 5px 10px 10px 0;
  display: block;
  background-color: #EBEBEB;
}
/* line 248, ../sass/_main.scss */
html body main section #container2 #btn3 {
  display: inline-block;
  font-size: 2rem;
  height: 70px;
  width: 250px;
  background-color: #2DA8C9;
  color: white;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  /*margin-right: 100px;*/
  float: left;
}
/* line 253, ../sass/_main.scss */
html body main section #container2 #btn4 {
  display: inline-block;
  font-size: 2rem;
  height: 70px;
  width: 250px;
  background-color: #2DA8C9;
  color: white;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  /*margin-left: 50px;*/
  float: right;
}
/* line 259, ../sass/_main.scss */
html body main section #container3 {
  display: none;
  clear: both;
}
/* line 264, ../sass/_main.scss */
html body main section #container3 #sectionthree #formthree {
  position: relative;
  margin: 0 20% 30px 20%;
  text-align: left;
  background-color: #EBEBEB;
  border-radius: 10px;
  padding: 30px;
  color: #2DA8C9;
  font-size: 2rem;
}
/* line 267, ../sass/_main.scss */
html body main section #container3 #sectionthree #formthree #commentboxname {
  margin-top: 30px;
  text-indent: 10px;
  font-size: 1.3rem;
}
/* line 272, ../sass/_main.scss */
html body main section #container3 #sectionthree #formthree #commentfield {
  background-color: white;
  border-radius: 10px;
  border: transparent;
  padding: 20px;
  width: 95%;
  height: 200px;
  margin: 5px auto 0 auto;
  text-align: justify;
  font-size: 1rem;
}
/* line 283, ../sass/_main.scss */
html body main section #container3 #sectionthree #formthree #checkboxcontainer {
  font-size: 1.3rem;
  vertical-align: middle;
  position: relative;
  text-indent: 10px;
}
/* line 289, ../sass/_main.scss */
html body main section #container3 #sectionthree #formthree #checkboxcontainer #checkboxone {
  margin-top: 20px;
  text-indent: 20px;
}
/* line 302, ../sass/_main.scss */
html body main section #container3 #btn5 {
  display: inline-block;
  font-size: 2rem;
  height: 70px;
  width: 250px;
  background-color: #2DA8C9;
  color: white;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  float: left;
}
/* line 306, ../sass/_main.scss */
html body main section #container3 #btn6 {
  display: inline-block;
  font-size: 2rem;
  height: 70px;
  width: 250px;
  background-color: #2DA8C9;
  color: white;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  float: right;
}
/* line 314, ../sass/_main.scss */
html body main .buttonarea {
  position: relative;
  margin: 0 20% 30px 20%;
  font-size: 2rem;
  color: white;
  text-align: center;
}

/* line 3, ../sass/_header.scss */
html body header {
  background-color: #2DA8C9;
  text-align: center;
  color: white;
}
/* line 9, ../sass/_header.scss */
html body header .headerelement {
  display: inline-block;
  text-align: center;
  margin: 30px;
  vertical-align: top;
}
/* line 15, ../sass/_header.scss */
html body header .headerelement #vivamus {
  width: auto;
  height: 120px;
}
/* line 20, ../sass/_header.scss */
html body header .headerelement .item {
  font-family: Garamond;
  display: inline-block;
  font-size: 2rem;
}
/* line 28, ../sass/_header.scss */
html body header .headerelement.menuitems {
  position: relative;
  top: 15px;
}
/* line 32, ../sass/_header.scss */
html body header #searchbox {
  font-size: 1rem;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid white;
  width: 120%;
  height: 40px;
  background-color: #2DA8C9;
  background-image: url("../../img/magnify.png");
  background-repeat: no-repeat;
  background-position: right;
}
/* line 45, ../sass/_header.scss */
html body header #menucontainer {
  position: absolute;
  top: 50px;
  right: 50px;
  text-align: left;
  display: none;
}
/* line 52, ../sass/_header.scss */
html body header #menucontainer #burgericon {
  float: right;
  cursor: pointer;
}
/* line 62, ../sass/_header.scss */
html body header #menucontainer .bar {
  width: 50px;
  height: 10px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 72, ../sass/_header.scss */
html body header #menucontainer #burgermenu {
  color: white;
  display: inline-block;
  background-color: black;
  display: none;
}
/* line 78, ../sass/_header.scss */
html body header #menucontainer #burgermenu .brgrmenu {
  text-align: center;
  font-size: 2rem;
  border: 1px solid yellow;
}

/* line 3, ../sass/_footer.scss */
html body footer {
  clear: both;
  background-color: #BEBEBE;
  padding: 20px;
  margin-top: 130px;
}
/* line 10, ../sass/_footer.scss */
html body footer #ftrcontainerone {
  text-align: center;
}
/* line 13, ../sass/_footer.scss */
html body footer #ftrcontainerone .circleelement {
  display: inline-block;
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  margin: 0 15px 0 15px;
}
/* line 22, ../sass/_footer.scss */
html body footer #ftrcontainertwo {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 15px 0 15px 0;
}
/* line 28, ../sass/_footer.scss */
html body footer #ftrcontainertwo .footermenu {
  display: inline-block;
}
/* line 32, ../sass/_footer.scss */
html body footer #ftrcontainerthree {
  text-align: center;
  color: white;
}

@media only screen and (max-width: 1024px) {
  /* line 5, ../sass/_mobileresponsive.scss */
  html body header .headerelement {
    margin: 30px 10px 30px 10px;
  }
  /* line 8, ../sass/_mobileresponsive.scss */
  html body header .headerelement #vivamus {
    height: 100px;
  }
  /* line 12, ../sass/_mobileresponsive.scss */
  html body header .headerelement .item {
    font-size: 1.8rem;
  }
  /* line 16, ../sass/_mobileresponsive.scss */
  html body header #searchbox {
    width: 100%;
  }
  /* line 23, ../sass/_mobileresponsive.scss */
  html body main #maincontainerone h1 {
    font-size: 2.8rem;
  }
  /* line 26, ../sass/_mobileresponsive.scss */
  html body main #maincontainerone h2 {
    font-size: 1.8rem;
  }
  /* line 29, ../sass/_mobileresponsive.scss */
  html body main #maincontainerone h3 {
    font-size: 1.8rem;
  }
  /* line 36, ../sass/_mobileresponsive.scss */
  html body main #maincontainertwo #stepline {
    top: 29px;
  }
  /* line 41, ../sass/_mobileresponsive.scss */
  html body main #maincontainertwo #innercontainer .step {
    height: 40px;
    width: 50px;
    border: 8px solid #BEBEBE;
    font-size: 2.3rem;
  }
  /* line 54, ../sass/_mobileresponsive.scss */
  html body main section #container1 #btn2 {
    height: 60px;
    width: 240px;
  }
  /* line 61, ../sass/_mobileresponsive.scss */
  html body main section #container1 #sectionone #formone #boxone #firstname {
    width: 200px;
    margin-left: 0px;
  }
  /* line 67, ../sass/_mobileresponsive.scss */
  html body main section #container1 #sectionone #formone #boxtwo #lastname {
    width: 200px;
    margin-left: 10px;
    margin-right: 0px;
  }
  /* line 79, ../sass/_mobileresponsive.scss */
  html body main section #container2 #btn3 {
    height: 60px;
    width: 240px;
  }
  /* line 83, ../sass/_mobileresponsive.scss */
  html body main section #container2 #btn4 {
    height: 60px;
    width: 240px;
  }
  /* line 88, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
  }
  /* line 93, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo .tabinputname {
    font-size: 1.1rem;
  }
  /* line 97, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo #tabcontentpaypal #paypallogo {
    height: 45px;
  }
  /* line 100, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo #tabcontentpaypal #paypalemail {
    width: 50%;
  }
  /* line 103, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo #tabcontentpaypal #paypalpassword {
    width: 50%;
  }
  /* line 109, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard #amount {
    width: 50%;
  }
  /* line 112, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard #expiry {
    width: 50%;
  }
  /* line 115, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard #cardcode {
    width: 50%;
  }
  /* line 118, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo #tabcontentcreditcard #visalogo {
    height: 50px;
  }
  /* line 126, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo #tabmenu #paypal {
    height: 45px;
    font-size: 1.8rem;
  }
  /* line 130, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo #tabmenu #creditcard {
    height: 45px;
    font-size: 1.8rem;
  }
  /* line 143, ../sass/_mobileresponsive.scss */
  html body main section #container3 #btn5 {
    height: 60px;
    width: 240px;
  }
  /* line 148, ../sass/_mobileresponsive.scss */
  html body main section #container3 #btn6 {
    height: 60px;
    width: 240px;
  }
  /* line 156, ../sass/_mobileresponsive.scss */
  html body main section #container3 #sectionthree #formthree #checkboxcontainer {
    font-size: 1.1rem;
  }
  /* line 159, ../sass/_mobileresponsive.scss */
  html body main section #container3 #sectionthree #formthree #commentboxname {
    font-size: 1.1rem;
  }
  /* line 162, ../sass/_mobileresponsive.scss */
  html body main section #container3 #sectionthree #formthree #commentfield {
    width: 92%;
  }
  /* line 173, ../sass/_mobileresponsive.scss */
  html body footer #ftrcontainerone .circleelement {
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }
}
/*DONE*/
@media only screen and (max-width: 960px) {
  /* line 190, ../sass/_mobileresponsive.scss */
  html body header #searchbox {
    width: 85%;
    height: 30px;
    background-size: 28px;
  }
  /* line 196, ../sass/_mobileresponsive.scss */
  html body header .headerelement #vivamus {
    height: 90px;
  }
  /* line 199, ../sass/_mobileresponsive.scss */
  html body header .headerelement .item {
    font-size: 1.7rem;
  }
  /* line 213, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo #formtwo #tabcontentpaypal #paypallogo {
    height: 40px;
  }
  /* line 224, ../sass/_mobileresponsive.scss */
  html body main section #container1 #sectionone #formone #boxone #firstname {
    width: 185px;
  }
  /* line 229, ../sass/_mobileresponsive.scss */
  html body main section #container1 #sectionone #formone #boxtwo #lastname {
    width: 185px;
  }
  /* line 239, ../sass/_mobileresponsive.scss */
  html body main #maincontainerone h1 {
    font-size: 2.6rem;
  }
  /* line 242, ../sass/_mobileresponsive.scss */
  html body main #maincontainerone h2 {
    font-size: 1.7rem;
  }
  /* line 245, ../sass/_mobileresponsive.scss */
  html body main #maincontainerone h3 {
    font-size: 1.7rem;
  }
}
/*DONE*/
@media only screen and (max-width: 768px) {
  /* line 268, ../sass/_mobileresponsive.scss */
  html body main section #container1 #btn2 {
    margin-right: -68px;
  }
  /* line 271, ../sass/_mobileresponsive.scss */
  html body main section #container1 #sectionone {
    margin: 0 10% 30px 10%;
  }
  /* line 277, ../sass/_mobileresponsive.scss */
  html body main section #container2 #btn3 {
    margin-left: -68px;
  }
  /* line 280, ../sass/_mobileresponsive.scss */
  html body main section #container2 #btn4 {
    margin-right: -68px;
  }
  /* line 283, ../sass/_mobileresponsive.scss */
  html body main section #container2 #sectiontwo {
    margin: 0 10% 30px 10%;
  }
  /* line 289, ../sass/_mobileresponsive.scss */
  html body main section #container3 #btn5 {
    margin-left: -68px;
  }
  /* line 292, ../sass/_mobileresponsive.scss */
  html body main section #container3 #btn6 {
    margin-right: -68px;
  }
  /* line 296, ../sass/_mobileresponsive.scss */
  html body main section #container3 #sectionthree #formthree {
    margin: 0 10% 30px 10%;
  }
  /* line 304, ../sass/_mobileresponsive.scss */
  html body main #line {
    width: 78%;
  }
  /* line 308, ../sass/_mobileresponsive.scss */
  html body main #maincontainerone h1 {
    font-size: 2rem;
  }
  /* line 311, ../sass/_mobileresponsive.scss */
  html body main #maincontainerone h2 {
    font-size: 1.3rem;
  }
  /* line 314, ../sass/_mobileresponsive.scss */
  html body main #maincontainerone h3 {
    font-size: 1.3rem;
  }
  /* line 318, ../sass/_mobileresponsive.scss */
  html body main #maincontainertwo {
    width: 78%;
  }
  /* line 324, ../sass/_mobileresponsive.scss */
  html body footer #ftrcontainertwo {
    font-size: 1.3rem;
  }
}
/*HAMBURGER MENU: STARTS TO EXIST*/
/* line 19, ../sass/screen.scss */
body {
  font-size: 100%;
  font-family: Arial, serif;
}
